{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Categories</h2>

    <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <select name="category" class="form-control" >
                <option disabled selected>Choose A Category</option>
                {% for category in categories %}
                <option value="{{category}}">{{category}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

{% endblock %}